body {
    font-family: Arial, sans-serif;
    background-color: #a097a3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



section.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-wrapper {
    margin: 10px;
    text-align: center;
    position: relative;
}

img {
    width: 150px;
    height: 160px;
}
button {
    background-color: #82aeca;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);


}


.btn-color-1 { background-color: #1abc9c; }
.btn-color-2 { background-color: #3498db; }
.btn-color-3 { background-color: #9b59b6; }
.btn-color-4 { background-color: #e67e22; }
.btn-color-5 { background-color: #f1c40f; }

.image-wrapper:hover button {
    bottom: 10px;
    background-color: #2980b9;
    animation: shine 0.5s linear;
}

@keyframes shine {
    0% {
        background-color: #3498db;
    }
    50% {
        background-color: #2eb929;
    }
    100% {
        background-color: #3408f8;
    }
}

button:active {
    transition: background-color 0.3s ease;
    background-color: #0d0f0f;
}